@import 'breakpoints';
@import 'colors';

.public-top-panel{
  padding: 38px;
}
.top-panel {
  height: 230px;
  padding: 40px;
  background-color: $aqua-400;
  position: relative;
  overflow: hidden;
  border-radius: 12px;

  .left {
    color: $white;

    .title {
      font-size: 28px;
      line-height: 120%;
      color: $dark-gray-30;
      margin-bottom: 20px;
    }

    .text {
      width: 655px;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.01em;
      color: $dark-gray-30;
    }

    a {
      font-family: 'Arial Rounded MT Bold';
      font-size: 14px;
      line-height: 150%;
      color: $blue-10;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .right {
    z-index: 1;
    height: fit-content;
    margin-right: 80px;

    .connect-wrapper {
      color: $white;

      .grey-text {
        font-size: 10px;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $dark-gray-420;

        @media ($medium) {
          margin-bottom: 12px;
        }
      }

      .white-text {
        font-size: 16px;
        line-height: 120%;
        color: $blue-10;

        @media ($medium) {
          margin-bottom: 24px;
        }
      }
    }
  }

  .lines-decor {
    position: absolute;
    width: 897.41px;
    height: 373.4px;
    right: 0;
    bottom: 0;
    opacity: 0.22;
    z-index: 0;
  }
}

.tile {
  width: calc((100% - 24px) / 3);
}

.public-tile {
  width: calc((100% - 24px) / 2);
}

neo-modal {
  .line {
    border-top: 1px solid $violet-5;
    margin-top: 10px;
  }

  .scope-element {
    padding: 24px 32px;
    border: 1px solid $zeigo-bight-gray;
    border-radius: 2px;
    background: $dark-gray-30;
  }

  .text-scope-label {
    color: $dark-gray-590;
    line-height: 130%;
    margin-bottom: 4px;
  }

  .text-scope-description {
    color: $dark-gray-515;
    font-size: 14px;
    line-height: 150%;
  }
}

.img {
  position: absolute;
  width: 599px;
  height: 290px;
  left: 220px;
  top: 5px;
}


.solutions-wrapper {

  .top-panel-spacing {
    padding: 54px 48px;
  }

  .projects-icon {
    width: 65px;
    height: 60px;
    margin-right: 28.5px;
    margin-top: 50px;
  }

  a {
    font-family: 'Arial Rounded MT Bold';
    font-size: 14px;
    line-height: 150%;
    color: $blue-10;
    cursor: pointer;
    text-decoration: underline;
  }
}