<div class="info-wrapper flex-column">
  <div
    class="info-item mb-16 d-flex"
    *ngIf="projectDetails?.category?.name">
    <p class="param mr-6">
      {{ 'projects.projectTypeLabel' | translate }}
    </p>
    <p class="param-value text-s">
      {{ projectDetails?.category?.name }}
    </p>
  </div>

  <div
    class="info-item mb-16 d-flex"
    *ngIf="technologiesList">
    <p class="param mr-6">{{ 'projects.technologyLabel' | translate }}</p>
    <p class="param-value">
      {{ technologiesList }}
    </p>
  </div>

  <div
    class="info-item mb-16 d-flex"
    *ngIf="projectDetails?.projectDetails?.minimumAnnualMWh">
    <p class="param mr-6">
      {{ 'projects.minimumAnnualKwhPurchaseLabel' | translate }}
    </p>
    <p class="param-value">
      {{ projectDetails?.projectDetails?.minimumAnnualMWh | number }}
    </p>
  </div>

  <div
    class="info-item mb-16 d-flex"
    *ngIf="projectDetails?.projectDetails?.totalAnnualMWh">
    <p class="param mr-6">
      {{ 'projects.addProject.totalAnnualKwhPurchaseLabel' | translate }}
    </p>
    <p class="param-value">
      {{ projectDetails?.projectDetails?.totalAnnualMWh }}
    </p>
  </div>

  <div
    class="info-item mb-16 d-flex"
    *ngIf="projectDetails?.projectDetails?.utilityTerritory">
    <p class="param mr-6">
      {{ 'projects.addProject.utilityTerritoryLabel' | translate }}
    </p>
    <p class="param-value">
      {{ projectDetails?.projectDetails?.utilityTerritory }}
    </p>
  </div>

  <div class="info-item mb-16 d-flex">
    <p class="param mr-6">
      {{ 'projects.addProject.dateAvailabilityLabel' | translate }}
    </p>
    <p class="param-value">
      {{
        projectDetails?.projectDetails?.projectAvailable
          ? ('projects.addProject.currentlyAvailableLabel' | translate)
          : (projectDetails?.projectDetails?.projectAvailabilityApproximateDate | date: 'MM/dd/yyyy')
      }}
    </p>
  </div>

  <div class="info-item mb-16 d-flex">
    <p class="param mr-6">
      {{ 'projects.addProject.requiresInvestmentGradeLabel' | translate }}
    </p>
    <p class="param-value">
      {{
        (projectDetails?.projectDetails?.isInvestmentGradeCreditOfOfftakerRequired
          ? 'general.yesLabel'
          : 'general.noLabel'
        ) | translate
      }}
    </p>
  </div>

  <div
    class="info-item mb-16 d-flex"
    *ngIf="contractStructutesList">
    <p class="param mr-6">
      {{ 'projects.contractStructuresAvailableLabel' | translate }}
    </p>
    <p class="param-value">
      {{ contractStructutesList }}
    </p>
  </div>

  <div
    class="info-item mb-16 d-flex"
    *ngIf="projectDetails?.projectDetails?.minimumTermLength">
    <p class="param mr-6">
      {{ 'projects.addProject.minimumTermLengthAvailableLabel' | translate }}
    </p>
    <p class="param-value">
      {{ projectDetails?.projectDetails?.minimumTermLength }}
      {{
        projectDetails?.projectDetails?.minimumTermLength
          ? ((projectDetails?.projectDetails?.minimumTermLength === 1
              ? 'projects.termLengthYearsSingleLabel'
              : 'projects.termLengthYearsPluralLabel'
            ) | translate)
          : ''
      }}
    </p>
  </div>

  <div
    class="info-item mb-16 d-flex"
    *ngIf="valuesProvidedList">
    <p class="param mr-6">
      {{ 'projects.valueProvidedLabel' | translate }}
    </p>
    <p class="param-value">
      {{ valuesProvidedList }}
    </p>
  </div>
</div>
