@use 'colors';

.header-line{
    border-bottom: 8px solid colors.$violet-5;
}

.section-content-1{
    padding: 24px 24px 79px 24px;
    .section-line{
        border-color: colors.$violet-5;
    }
}

.section-content-2{
    padding-top: 32px;
    padding-bottom: 32px;
    &:not(:last-child){
        border-bottom: 1px solid colors.$dark-gray-200;
    }
}
.section-content-3{
    padding-top: 55px;
    padding-bottom: 55px;
}