<div class="header-line mb-32 mt-16"></div>
<div class="d-flex gap-12 mb-48">
  <div class="section-content section-content-5 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
  <div class="section-content section-content-2 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
  <div class="section-content section-content-2 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
</div>


<div class="d-flex">
  <div class="w-70 mr-16">
    <div class="header-line mb-32 mt-16"></div>
    <div class="d-flex gap-12">
      <div class="section-content section-content-6 flex-grow-1">
        <div class="section-line section-line-big mb-24"></div>
        <div class="section-line section-line-small mb-24"></div>
      </div>
      <div class="section-content section-content-6 flex-grow-1">
        <div class="section-line section-line-big mb-24"></div>
        <div class="section-line section-line-small mb-24"></div>
      </div>
      </div>
      <div class="d-flex  gap-12 mt-16 ">
        <div class="section-content section-content-6 flex-grow-1">
          <div class="section-line section-line-big mb-24"></div>
          <div class="section-line section-line-small mb-24"></div>
        </div>
        <div class="section-content section-content-6 flex-grow-1">
          <div class="section-line section-line-big mb-24"></div>
          <div class="section-line section-line-small mb-24"></div>
        </div>
      </div>
      <div class="d-flex  gap-12 mt-16 mb-48">
        <div class="section-content section-content-6 flex-grow-1">
          <div class="section-line section-line-big mb-24"></div>
          <div class="section-line section-line-small mb-24"></div>
        </div>
        <div class="section-content section-content-6 flex-grow-1">
          <div class="section-line section-line-big mb-24"></div>
          <div class="section-line section-line-small mb-24"></div>
        </div>
      </div>
  </div>
 
  <div class="w-30">
    <div class="header-line mb-32 mt-16"></div>
    <div class="section-content section-content-7 mb-64">
      <div class="section-line section-line-big mb-24"></div>
      <div class="section-line section-line-small mb-24"></div>
    </div>
  </div>
</div>
<div class="header-line mb-32"></div>
<div class="d-flex gap-12 mb-48">
  <div class="section-content section-content-5 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
  <div class="section-content section-content-2 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
</div>
<div class="d-flex gap-12 mb-48">
  <div class="section-content section-content-5 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
  <div class="section-content section-content-2 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
</div>
