@use 'colors';
@use 'breakpoints';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  width: 500px;

  @media (breakpoints.$small) {
    width: 812px;
  }
}

.checkbox-wrapper {
  width: fit-content;
  height: 42px;
  background: colors.$dark-gray-40;
  border: 1px solid  colors.$red-10;
  border-radius: 2px;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 14px;
  color: colors.$zeigo-purple;

  &.selected {
    color: colors.$zeigo-purple;
    background-color: colors.$violet-10;
/* Brand/Main Purple/100% */
    border: 1px solid colors.$zeigo-purple;
    border-radius: 4px;

    &:hover {
      box-shadow: 0 2px 8px rgba(111, 110, 119, 0.5);

      .plus-icon {
        color: colors.$zeigo-purple;
      }
    }
  }

  &:hover {
    color: colors.$zeigo-purple;
    border: 1px solid colors.$zeigo-purple;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(111, 110, 119, 0.5);

    .plus-icon {
      color: colors.$zeigo-purple;
    }
  }

  .plus-icon {
    color: colors.$zeigo-purple;
  }
}
