@use 'colors';

.top-container{
    .flex-left{
       margin-right: 50px;
    }
    .flex-right{
        justify-content: right;
    }
    
    .trending-label{
      font-size: 18px;
    }

    .trending-sub-label{
      color: colors.$dark-gray-590;
      letter-spacing: 0.14px;
      padding-bottom: 16px;
    }

    .border {
        width: 36px;
        height: 36px;
        background-color: #FFFBFF;
        border: 1px solid #E1CAE7;
        border-radius: 8px;
        color: colors.$purple-200;
    
        &:hover {
          color: colors.$purple-500 !important;
          border: 1px solid colors.$purple-500;
          background-color: colors.$dark-gray-40;
        }
    
        &:disabled {
          opacity: 0.3;
        }
      }

      .btn-ViewAll{
        border-radius: 8px;
        background: rgba(252, 252, 252, 0.00);
        height: 35px;
        padding: 13px 12px;
        color: colors.$zeigo-purple;
        font-family: 'Arial Rounded MT Bold';
        font-size: 14px;

        &:hover{
          color: colors.$purple-200;
        }

      }
}

.carousel-container {
 overflow: hidden;

  .slide-wrapper {
    transition: transform 0.5s ease-in-out;

    .slide {
      height:160px;
      width: calc(100% / 3);
      flex-shrink: 0;
      padding-right: 12px;

      &:last-of-type {
        padding: 0;
      }
    }
    .w-50 {
      width: 50% !important;
    }
  }

  .progress-bar {
    display: flex;
    justify-content: center;
  }

  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: colors.$dark-gray-450;
    margin: 0 5px;
    border: 1px solid colors.$near-black-400;
  }

  .circle.active {
    background-color: colors.$zeigo-purple; /* Change to your active color */
  }
}

.no-label{
  color: colors.$dark-gray-590;
  text-align: center;
}
.no-projects{
  width:100% !important;
}
