@use 'colors';
.project-item-wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  .selection {
    .overlay-polygon {
      position: absolute;
      top: 0;
      right: 95%;
      width: 6%;
      border-style: solid;
      border-width: 0 70px 70px 0;
      border-color: transparent colors.$purple-300 transparent transparent;
      transform: rotate(270deg);
      z-index: 2;
    }
    .tick-mark {
      position: absolute;
      top: 5%;
      left: 10px;
      z-index: 3;
      width: 20px;
      height: 15px;
    }
    .contents {
      margin: 2px;
      justify-content: normal;
      margin-left: 26px;
    }
  }
  .contents {
    margin: 2px;
    .title {
      color: colors.$near-black-400;
      font-weight: 700;
      line-height: 20.8px;
      text-align: left;
    }
    .subTitle {
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.01em;
      color: colors.$dark-gray-590;
      overflow-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .project-footer {
      display: flex;
      .logo {
        max-width: 84px;
        max-height: 30px;
        object-fit: contain;
      }
      .tags {
        margin-right: 5px;
      }
      .location {
        margin-top: 6px;
      }
    }
  }
  .link {
    text-decoration: none;
    padding: 5px 10px;
    color: colors.$zeigo-purple;
    width: 9%;
    
    .eye-icon {
      font-size: 12px !important;
      width: 18px;
      &:hover {
        color: colors.$purple-400 !important;
      }
    }
    .view-link {
      font-size: 14px;
      text-decoration: none;
      font-weight: 700;
      margin-right: 4px;

      &:hover {
        color: colors.$purple-400 !important;
      }
    }
  }

  .mr-5 {
    margin-right: 5px;
  }
}

.new-project-tag-section {
    pointer-events: none;
    top: 0;
    
    .new-project-tag {
      pointer-events: all;
      top: 5px;
      right: 5px;
      color: colors.$white;
      cursor: pointer;
      min-width: 40px;
      min-height: 22px;
      filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4));
  
      path {
        stroke: colors.$white;
        fill: transparent;
      }
    }
  }
