@use 'colors';
@use 'variables';

.form-wrapper {
  padding: 24px 32px;
  border: 1px solid colors.$dark-gray-200;
  border-radius: 2px;
  background: colors.$white;
  max-width: 874px;
  width: 100%;
}

.logo-not-detected {
  font-size: 12px;
  line-height: 130%;
}


.blue-100-frame {
  width: 156px;
  padding: 12px 20px;
}

.btn-s {
  width: 156px;
  min-height: 47px;
  background: colors.$zeigo-purple;
  color: colors.$dark-gray-40;
  border-radius: 8px;

  &:hover,
  &:focus {
    background: colors.$purple-400;
  }
}

.btn-c {
  width: 156px;
  min-height: 47px;
  background: colors.$dark-gray-40;
  border: 1px solid colors.$purple-300;
  color: colors.$purple-200;
  border-radius: 8px;

  &:hover {
    color: colors.$purple-500;
    background: colors.$dark-gray-40;
    border: 1px solid colors.$purple-500;
  }

  &:active {
    color: colors.$purple-500;
    background: colors.$dark-gray-40;
    border: 1px solid colors.$purple-300;
  }
}

.blue-100-frame {
  color: colors.$blue-300;
}

.icon-wrapper {
  width: 140px;
  height: 86px;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

textarea {
  height: 120px;
}

.companies-filter-wrapper {
  border: 1px solid colors.$blue-50;
  border-radius: 2px;
  max-width: 292px;

  .search-bar-wrapper {
    padding: 10px 12px;
    border-bottom: 1px solid colors.$dark-gray-200;

    .search-input {
      .search-icon {
        left: 10px;
      }

      .close-icon {
        right: 10px;
      }
    }
  }

  .flex-column {
    padding: 8px 12px;
    max-height: 116px;
    overflow-y: scroll;
  }
}

.flex-between .btn-l {
  text-transform: capitalize;
  font-family: Arial, serif;
  padding: 16px;
  min-width: fit-content;
}

.controls-wrapper {

  .btn-save,
  .btn-cancel {
    font-size: 14px;
  }
}

form {
  width: 652px;

  .disabled {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
  }
}

.btn-add {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px; 
  background: colors.$dark-gray-40;
  color: colors.$purple-200;
  border: 1px solid colors.$purple-300;
  border-radius: 8px;  
  width: fit-content;
  padding: 8px 20px;
  text-transform: capitalize;

  &:hover{
    border: 1px solid colors.$purple-500;
    color: colors.$purple-500;
  }
}

.btn-delete {
  color: colors.$blue-100;
}

.upload-logo {
  background: #F9F8F9;
  padding: 12px 8px 12px 8px;
  height: 20%;  
}

.no-logo {
  min-width: 140px;
  min-height: 90px;
  background-color: white;
}

.btn-delete-div {
  padding: 13px; 
  background-color: colors.$dark-gray-450; 
  border-radius: 8px;  
  height: fit-content;

  &:hover{
    background: colors.$dark-gray-250;
  }
}
.hide
{
  display:none;
}

