@use 'colors';

.link{
    font-weight: 400;
    font-family: Arial Rounded MT Bold;
    text-transform: capitalize;
    color: colors.$zeigo-purple;
}

.events-wrapper{
    padding: 15px;
    padding-top: 12px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    
  }
.container > div  {
    flex: 45%;
    align-items: flex-start;
    margin-right: 12px;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    gap: 10px;
    border: 1px solid colors.$light-gray;
    background: colors.$white;
    color: colors.$dark-gray-590;
    box-shadow: 0px 2px 8px rgba(111, 110, 119, 0.5);  
    &:hover{
      border: 1px solid colors.$dark-gray-850;;
      box-shadow: 0px 2px 8px rgba(111, 110, 119, 0.5);  
      color: colors.$zeigo-purple;
      cursor: pointer;
    }
  }

  .container > div.second  {
    margin-right: 0px; 
  }
  .dashboard-heading{
    line-height: 36.4px;
    padding-bottom: 20px;
  }