<div class="d-flex opportunities-wrapper">
  <div class="flex-column opportunity-wrapper">
    <img alt="Global New Energy Opportunities." src="assets/images/landing/features/planet.png" />

    <h3 class="text-neo-blue pt-56 fw-700">Global New Energy Opportunities.</h3>

    <p class="text-m pt-16 text-neo-blue">
      First list of features highlights functionality that is beneficial to both Buyers & Providers.
    </p>
  </div>

  <div class="flex-column opportunity-wrapper borders">
    <img alt="Global New Energy Opportunities." src="assets/images/landing/features/home.png" />

    <h3 class="text-neo-blue pt-56 fw-700">Global New Energy Opportunities.</h3>

    <p class="text-m pt-16 text-neo-blue">
      First list of features highlights functionality that is beneficial to both Buyers & Providers.
    </p>
  </div>

  <div class="flex-column opportunity-wrapper">
    <img alt="Global New Energy Opportunities." src="assets/images/landing/features/gear.png" />

    <h3 class="text-neo-blue pt-56 fw-700">Global New Energy Opportunities.</h3>

    <p class="text-m pt-16 text-neo-blue">
      First list of features highlights functionality that is beneficial to both Buyers & Providers.
    </p>
  </div>
</div>
