<div *ngIf="project.id!==null" class="w-100 h-100 tile-wrapper" (click)="goToLink('projects/' +  project?.id )">
  <div class="d-flex h-100">
    <div class="left-section">
      <img src="{{project.imageUrl }}" alt="project-item" />
    </div>
    <div class="right-section pr-16">
      <div class="d-flex flex-column h-100">
        <div class="title-height">
          <span class="title text-ellipsis">{{ project.title }}</span>
        </div>
        <div class="title-height">
          <span class="sub-title text-ellipsis">{{ project.subTitle }} </span>
        </div>
        <div class="d-flex justify-between align-end flex-grow-1 pt-5 pb-4">
          <div  class="d-flex flex-column  justify-center pb-10">
            <span [ngClass] ="{'active-status': project.status === 'Active','draft-status':project.status==='Draft'}">
              <label class="status-tag"[ngClass]="{'active-tag-item': project.status === 'Active','draft-tag-item':project.status==='Draft'}">
                {{project.status}}              
              </label>               
            </span>          
          </div>
          <div class="d-flex flex-column justify-center pb-10">
            <ng-container>
              <span class="updated-tag">
                <label class="tag">Updated: {{ project.changedOn}}</label>
              </span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="project.id===null && isShowAddProject && !isNoProjects" 
  class="tile-wrapper w-100 h-100 disable-hover">
  <div class="add-project-container">
    <svg-icon class="sun-icon"  key="sun" ></svg-icon>
    <span class="title">{{'dashboard.addProjectLabelText' | translate}} </span>
    <span class="sub-title">{{'dashboard.addProjectLabelSubText' | translate}} </span>
    <button (click)="addProjectRedirect()" class="pt-12 btn-m green-frame flex-center"> {{'dashboard.addProjectLabel' | translate}} </button>
  </div>
</div>
<div *ngIf="project.id===null && isNoProjects" (click)="addProjectRedirect()" class=" tile-wrapper disable-hover">
  <div class="add-project-container">
    <svg-icon class="sun-icon mt-1"  key="sun" ></svg-icon>
    <span class="title">{{'dashboard.createFirstProjectLabel' | translate}} </span>
    <span class="sub-title">{{'dashboard.noLiveProjectLabel' | translate}} </span>
    <button (click)="addProjectRedirect()" class="btn-m green-frame flex-center mb-1 mt-1"> {{'dashboard.addProjectLabel' | translate}} </button>
  </div>
</div>