<div class="flex-column pl-32 pr-32">
  <h3 class="text-neo-near-black pb-24">{{ 'settings.emailAlertSettingsLabel' | translate }}</h3>
  
  <div class="content-wrapper" *ngIf="emailAlerts$ | async">
    <div class="header d-flex align-center justify-between text-s fw-400 arial">
      <div class="text-uppercase flex-column align-start fg-7">
        {{ 'settings.triggerLabel' | translate }}
      </div>
  
  <div class=" text-uppercase flex-column align-start fg-2">{{ 'settings.frequencyLabel' | translate }}</div>
    </div>
   
    <form class="p-24 flex-column" [formGroup]="formGroup">
      <ng-container *ngFor="let emailAlert of emailAlerts.dataList; let last = last">
        <div class="d-flex align-center justify-between">
          <div class="flex-column">
            <h4 class="text-black arial">{{ emailAlert.title }}</h4>
            <p class="text-s text-dark-gray-515">{{ emailAlert.description }}</p>
          </div>
  
          <div class="d-flex align-center">
            <neo-dropdown
              spacing="m-0"
              topPosition="50px"
              rightPosition="16px"
              dropdownWidth="272px"
              [dropdownOptions]="dropdownOptions(emailAlert.title)"
              [formControlName]="getControlName(emailAlert.title)"
              (chosenOption)="updateSetting(emailAlert, $event)">
            </neo-dropdown>
          </div>
        </div>
  
        <div class="separator mt-16 mb-16" *ngIf="!last"></div>
      </ng-container>
    </form>
  </div>
  
  
  <neo-form-footer (cancel)="goBack()" (save)="saveData()" submitButtonName="general.saveChangesLabel"> </neo-form-footer>

  </div>