@use 'colors';
@use 'variables';
@use 'breakpoints';

.title {
  font-family: Arial Rounded MT;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  color: colors.$near-black-400;
}

.substep-background {
  background-color: colors.$light-gray-200;
}

.substep {
  padding: 12px 24px 12px 24px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
}

.check-icon {
  position: absolute;
  margin-left: 1px;
  color: colors.$white;
  z-index: 1;
  width: 1.25em;
  height: 1.25em;
}

.checkbox-wrapper {
  input {
    display: none;
  }

  &.checked {
    span {
      &::before {
        border: 1px solid colors.$sky-blue;
      }
    }
  }

  span {
    &:before {
      content: '';
      -webkit-appearance: none;
      background: colors.$white;
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 20px;
      height: 20px;
      border: 1px solid colors.$dark-gray-515;
      border-radius: 4px;
      margin-right: 4px;
    }

    &.checked::before {
      background-color: colors.$zeigo-purple;
      border: 1px solid var(--basic-neutral-200, #4b4b4b);
    }

    &:hover {
      &::before {
        cursor: pointer;
        border: 1px solid colors.$zeigo-purple;
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 130%;
    color: colors.$near-black-400; //this for default checkbox
    cursor: pointer;
  }
}
.disabled-div{
  pointer-events:none !important;
  &.disabled {
    opacity: 0.2;
  }
}
