<td
  [class.transparent]="user.statusId === userStatuses.Inactive || user.statusId === userStatuses.Deleted"
  [class.disabled]="isRowDisable(user)"  
  [routerLink]="'./edit/' + user.id"
  class="pl-24 d-flex align-center c-pointer ellipsis name-cell">
  <neo-user-avatar
    [user]="user"
    class="mr-12"
    imageSize="size24"
    *ngIf="!user.requestDeleteDate"></neo-user-avatar>
  <ng-container *ngIf="user.requestDeleteDate">
    <svg-icon
      key="trash-can"
      class="ml-4 mr-12"></svg-icon>
  </ng-container>
  <span class="name ellipsis">{{ user.lastName }}, {{ user.firstName }}</span>
</td>

<td
  [class.transparent]="user.statusId === userStatuses.Inactive || user.statusId === userStatuses.Deleted"
  [class.disabled]="isRowDisable(user)"  
  [routerLink]="'./edit/' + user.id"
  class="pl-24 c-pointer ellipsis company-cell">
  <span class="company">{{ user.company?.name }}</span>
</td>

<td
  [class.transparent]="user.statusId === userStatuses.Inactive || user.statusId === userStatuses.Deleted"
  [class.disabled]="isRowDisable(user)"  
  [routerLink]="'./edit/' + user.id"
  class="pl-24 c-pointer">
  <span
    *ngFor="let role of user.roles"
    class="role {{ user.roles[0].name | lowercase }}">
    {{ role.name }}
  </span>
</td>

<td
  [routerLink]="'./edit/' + user.id"
  [class.disabled]="isRowDisable(user)"  
  class="pl-24 c-pointer">
  <span class="status {{ user.statusName | lowercase }}">
    {{ user.statusName }}
  </span>
</td>

<td class="pl-24 ellipsis c-pointer name-cell">
  <span class="company">{{ user.approvedBy }}</span>
</td>

<td class="pl-24 options-cell pr-24">
  <neo-menu
    (optionClick)="optionClick($event)"
    [options]="getOptions()"
    activeIcon="cross"
    cssClasses="flex-center"
    icon="three-dots">
  </neo-menu>
</td>

<neo-modal
  (cancel)="showModal = false"
  *ngIf="showModal" class="title-h2">
  <h3 class="mb-6 text-neo-near-black">{{ 'general.deleteModal.titleLabel' | translate }}</h3>
  <p class="text-m text-dark-gray-580 mb-24">{{ 'general.deleteModal.textLabel' | translate }}</p>

  <div class="popup-controls pt-24 d-flex">
    <button
      (click)="showModal = false"
      class="btn-cancel blue-50-frame mr-16">
      {{ 'general.cancelLabel' | translate }}
    </button>

    <button
      (click)="deleteUser()"
      class="btn-confirm">
      {{ 'general.deleteModal.confirmLabel' | translate }}
    </button>
  </div>
</neo-modal>
