@use 'colors';
@use 'variables';
@use 'breakpoints';

.div-section{
    background-color: colors.$white;
    padding: 24px 32px 24px 32px;
    margin-bottom: 25px;

    .section-title{
        color: colors.$near-black-400;
        margin-bottom: 10px;
        font-size: 16px;
    }
}
