@import 'colors';
@import 'breakpoints';

.close-icon {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;  
    opacity: .5;
    color: $blue-200;
    &:hover
      {
      color: $near-black-400;
      }
  }

  /*MODAL*/
.modal-title {
  font-size: 24px;
  line-height: 120%; 
}
.controls{
    border-top: 1px solid $dark-gray-200;
    justify-content: flex-end;
    .btn-cancel
    {
      width: 274px;
      height: 47px;
      background: $dark-gray-450;
      border-radius: 8px;
      border: none;
      color: $dark-gray-590;
      &:hover
      {
        background: $dark-gray-250;
      }
    }
    .btn-confirm
    {
      padding: 12px 16px;
      background: $zeigo-purple;
      font-weight: 400;
      font-size: 14px;
      width: 274px;
      height: 47px;
      border-radius: 8px;
      &:hover{
        background: $purple-400;
      }
    }
  }

  
  
