@use 'colors';

.link {
  line-height: 0;

  &:hover {
    color: colors.$purple-400;
  }
}

.text-content {
  font-family: 'Arial Rounded MT Bold';
}

.title-section-wrapper {
  padding-top: 32px;
}

:host.title-section-wrapper-new-noteworthy {
  .title-section-wrapper {
    padding-top: 26px;
  }
}

:host.public-noteworthy {
  .title-section-wrapper {
    padding-top: 10px;
  }
}

.subTitle {
  font-size: 14px;
  line-height: 20px;
}

:host.subTitle-new-noteworthy {
  .subTitle {
    line-height: 20px;
    letter-spacing: 0.14px;
    font-size: 16px;
  }
}

:host.tools-sp-dashboard {
  .text-content {
    font-size: 14px;
  }
}

.view-all-btn {
  font-size: 14px;
}

:host.view-all-btn-new-noteworthy {
  .view-all-btn {
    font-size: 14px;
    margin-top: 20px;
  }
}