<div class="tile-container" *ngIf="responseData?.dataList?.length > 0">
  <div
    class="tile c-pointer"
    *ngFor="let project of responseData?.dataList; let i = index"
    [class.selected]="project.isSelected">
    <neo-project-item [project]="project" [initiativeId]="initiativeId" [isSavedProject]="true"
    (selectedProject)="showRemoveModal($event)"></neo-project-item>
  </div>
</div>

<ng-container *ngIf="responseData?.count === 0">
  <div class="flex-column no-saved-container">
    <svg-icon
        class="ufo-icon"
        key="ufo-vector"></svg-icon>
    <h3 class="pt-20">{{ 'initiative.viewInitiative.noSavedProjectContentTitle' | translate }}</h3>
    <div class="pt-20 no-saved-description">
      {{ 'initiative.viewInitiative.noProjectSavedContentDescription' | translate }}
    </div>
  </div>
</ng-container>

<neo-pagination
  *ngIf="paging && paging.total > defaultPageItems"
  (changePage)="changePage($event)"
  [defaultItemPerPage]="defaultPageItems"
  [paging]="paging"
  class="pt-24 mb-64"></neo-pagination>

  <neo-modal (closed)="closeDeletePopup()" *ngIf="showDeleteModal" size="medium"
    [title]="'initiative.viewInitiative.deleteSavedProjectPopUpTitle' | translate" class="title-h2">
    <p class="text-s text-dark-gray-580 mb-12 pt-6 mr-16 mt-6">
        {{ 'initiative.viewInitiative.deleteSavedContentPopUpSubTitle' | translate }}
    </p>

    <div class="popup-controls mt-10 d-flex">
        <button (click)="closeDeletePopup()" class="btn-cancel blue-50-frame mr-16  w-50">
            {{ 'general.cancelLabel' | translate }}
        </button>

        <button (click)="confirmDelete()" class="btn-confirm w-50">
            {{ 'messages.deleteModal.confirmLabel' | translate }}
        </button>
    </div>
</neo-modal>
