@use 'colors';
.tile-container {
  display: flex;
  flex-wrap: wrap;
}
.tile {
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  background: colors.$white-10;
  margin: 3px;
  padding: 8px;
  text-align: left;
  height: 140px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  &:hover {
    background: colors.$blue-5;
    border: 1px solid colors.$light-gray-300;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(134, 132, 141, 0.16);
  }
  &.selected {
    border: 2px solid colors.$purple-300;
    border-radius: 8px;
  }
}

img {
  height: 80px;
  width: 100%;
  object-fit: fill;

  &:hover {
    cursor: pointer;
  }
}

.no-saved-container {
  padding: 80px;
  align-items: center;
  background-color: colors.$purple-20;
  border: 1px solid colors.$purple-160;
  border-radius: 12px;

  .no-saved-description {
    color: colors.$dark-gray-545;
    font-size: 14px;
    border-radius: 5px;
  }

  .ufo-icon {
    color: colors.$purple-300;
    width: 42px;
    height: 42px;
  }
}