// 0 - 1439 - basic
$small: 'min-width: 1200px';
$medium: 'min-width: 1440px';
$fullHd: 'min-width: 1920px';

$max-small: 'max-width: 1199px';
$max-medium: 'max-width: 1439px';
$max-hd: 'max-width: 1500px';
$max-fullHd: 'max-width: 1919px';
