$header-height: 64px;
$navbar-width: 220px;
$navbar-width-media: 166px;
$form-footer-height: 73px;
$filters-width: 240px;
$footer-height: 64px;
$onboarding-side-bar-width: 330px;
$onboarding-side-bar-width-medium: 437px;
$filters-forum-width: 308px;