@use 'colors';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controls-wrapper {
  .checkbox-wrapper {
    position: relative;
    width: 254.33px;
    height: 230px;
    background: colors.$white;
    border: 1px solid colors.$dark-gray-405;
    border-radius: 2px;

    &.selected {
      border: 2px solid colors.$zeigo-purple;
      border-radius: 2px;
    }

    &:hover {
      border-width: 2px;
    }

    label {
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-size: 18px;
      line-height: 130%;
      color: colors.$near-black-400;
    }

    input {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    .main-icon {
      width: 64px;
      height: 64px;
      background-color: colors.$blue-20;
      padding: 3px;
      display: flex;
      justify-content: center;
    }

    .plus-icon {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}
