@use 'colors';

:host {
  display: flex;
  flex-direction: column;
}

:host.flex-direction-row {
  flex-direction: row;

  .controls-wrapper {
    margin-left: 10px;
  }

  .radio-controls-wrapper {
    flex-direction: row;

    label {
      padding: 30%;
      padding-top: 0px;
    }
  }

  .input-label {
    margin: 4px;
    font-family: 'Arial,serif';
    font-size: 15px;
    color: colors.$near-black-400;
  }
}


input {
  display: none;
}

label {
  &:hover {
    &:before {
      border: 1px solid colors.$sky-blue;
      box-shadow: 0 0 0 1px colors.$sky-blue;
    }
  }
}

.radio-controls-wrapper {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    padding-left: 24px;
    color: colors.$dark-gray-585;
    position: relative;
    cursor: pointer;
    transition: all 0.1s ease;

    &.disabled {
      opacity: 0.5;
      cursor: default;

      &:before {
        box-shadow: none;
      }
    }

    &:hover:not(.disabled):not(.active) {
      &:before {
        border: 1px solid colors.$zeigo-purple;
        box-shadow: 0 0 0 1px colors.$zeigo-purple;
        transition: all 0.1s ease;
      }
    }

    &:before {
      background-color: colors.$white;
      border: solid 1px colors.$zeigo-purple;
      border-radius: 50%;
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
    }

    &.active {
      &:before {
        background-color: colors.$zeigo-purple;
        border: solid 1px colors.$zeigo-purple;
        box-shadow: inset 0 0 0 4px colors.$white;
        width: 20px;
        height: 20px;
      }
    }

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}

:host.text-zeigo-near-black {
  .input-label {
    color: colors.$near-black-400;
    font-size: 16px;
    line-height: 20px;

    .optional {
      color: #868686;
      font-family: 'Arial Rounded MT Bold', serif;
    }
  }
}

:host.text-input-label-announcement {
  .input-label {
    font-size: 16px;
  }
}

:host.text-label-near-black {
  label {
    color: colors.$near-black-400;
  }
}

:host.text-label-announcement {
  label {
    color: colors.$dark-gray-750;
    letter-spacing: 0.14px;
  }
}

.flex-row {
  flex-direction: row;

  label {
    font-size: 16px;

    span {
      color: colors.$near-black-400;
    }
  }

  &:nth-child(1) {
    margin-left: 2px;
  }

  .ml-label:nth-child(2) {
    margin-left: 24px;
  }
}


@media only screen and (max-width: 950px) {
  .radio-controls-wrapper {
    label {
      cursor: none !important;
    }
  }
}



.tooltip {
  position: relative;
  display: inline-block;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: colors.$white;
  color: colors.$near-black-400;
  padding: 5px 15px;
  border-radius: 6px;
  font-size: small;
  position: absolute;
  z-index: 1;
  top: 33%;
  margin-left: 12px;
  font-weight: bold;
  inline-size: 350px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(111, 110, 119, 0.5);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;

}

.checkbox-size {
  width: 30px;
  height: 18px;
  border: white;
  background-color: colors.$zeigo-purple;
}