.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

.justify-center {
    justify-content: center;
}
