<div class="tile-container" *ngIf="responseData?.dataList?.length > 0">
    <div
      class="tile c-pointer"
      *ngFor="let project of responseData?.dataList; let i = index"
      [class.selected]="project.isSelected"
      (click)="toggleSelection(project)">
      <neo-project-item [project]="project" [initiativeId]="initiativeId"></neo-project-item>
    </div>
  </div>
  <ng-container *ngIf="responseData?.count === 0">
    <div class="flex-column no-saved-container mb-32">
      <svg-icon
        class="ufo-icon"
        key="ufo-vector"></svg-icon>
      <h3 class="pt-20">{{ 'initiative.viewInitiative.emptyRecommendedProjectLabel' | translate }}</h3>
      <div class="pt-20 no-saved-description">
        {{ 'initiative.viewInitiative.emptyRecommendedProjectSubLabel' | translate }}
      </div>
    </div>
  </ng-container>
  
  <neo-pagination
    *ngIf="paging && paging.total > defaultPageItems"
    (changePage)="changePage($event)"
    [defaultItemPerPage]="defaultPageItems"
    [paging]="paging"
    class="pt-24 mb-64"></neo-pagination>
  