<div class="header-line mb-32 mt-16"></div>
<div class="section-content section-content-1 mb-64">
  <div class="section-line section-line-big mb-24"></div>
  <div class="section-line section-line-small mb-24"></div>
  <div class="section-line section-line-small"></div>
</div>
<div class="header-line mb-32"></div>
<div class="d-flex gap-12 mb-48">
  <div class="section-content section-content-2 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
  <div class="section-content section-content-2 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
</div>
<div class="header-line mb-16"></div>
<div class="section-line section-line-small mb-24"></div>
<div class="section-content section-content-3 mb-12">
  <div class="section-line section-line-big mb-24"></div>
  <div class="section-line section-line-big mb-24"></div>
  <div class="section-line section-line-small mb-24"></div>
  <div class="section-line section-line-small"></div>
</div>
<div class="d-flex gap-12 mb-12">
  <div class="section-content section-content-4 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
  <div class="section-content section-content-4 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
</div>
<div class="d-flex gap-12 mb-48">
  <div class="section-content section-content-4 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
  <div class="section-content section-content-4 flex-grow-1">
    <div class="section-line section-line-big mb-24"></div>
    <div class="section-line section-line-small"></div>
  </div>
</div>
