@use 'colors';

.header-line {
  border-bottom: 8px solid colors.$violet-5;
}
.section-content-1 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-content-2 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.section-content-3 {
  padding-top: 92px;
  padding-bottom: 92px;
}

.section-content-4 {
  padding-top: 224px;
  padding-bottom: 32px;
}
