@use 'colors';

.name {
  font-size: 14px;
  line-height: 130%;
  color: colors.$dark-gray-750;
  max-width: 640px;
}

.job-title {
  font-size: 12px;
  font-family: 'Arial';
  line-height: 140%;
  letter-spacing: 0.01em;
  max-width: 640px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: colors.$dark-gray-580;
}

.buttons {
  margin-left: auto;
  align-items: center;
}

.gap-4 {
  gap: 4px;
}

.add-hover{
  &:hover{
    background: colors.$blue-20;
    border-radius: 999px;
  }
}

.default-cursor {
  cursor: default !important;
}

.role-tag-purple {
  padding: 8px;
  background: colors.$purple-15;
  border-radius: 2px;
  color: colors.$purple-250;
  cursor: default;
  transition: all 0.2s ease;
  white-space: nowrap;
  line-height: 130%;
  font-size: 12px;
}
