@import '../../../../styles/colors';

:host {
  display: flex;
  align-items: center;
}

:host.white-line {
  .vert-line {
    background-color: $white;
  }
}

.vert-line {
  width: 1px;
  height: 12px;
  background-color: $dark-gray-545;
  margin: 0 20px;
}


:host.forum-thread {
  .vert-line {
   width: .01rem;
  }
}

:host.admin-management{
  .vert-line {
    height: 16px;
    border-right: 1px solid $black;
    background: rgba(252, 252, 252, 0.00);
   }
}