<div class="tools-container d-flex flex-wrap"
  *ngIf="responseData && responseData?.dataList?.length > 0 else toolsSkeletonTemplate">
  <neo-tool-item [initiativeId]="initiativeId" *ngFor="let item of responseData?.dataList" [class.selected]="item.isSelected" [tool]="item"
    (click)="toggleSelection(item)"></neo-tool-item>
</div>
<ng-template #toolsSkeletonTemplate>
  <div class="d-flex gap-12 mb-10">
    <div class="section-content section-content-5 flex-grow-1">
      <div class="section-line section-line-big mb-24"></div>
      <div class="section-line section-line-big mb-24"></div>
    </div>
    <div class="section-content section-content-5 flex-grow-1">
      <div class="section-line section-line-big mb-24"></div>
      <div class="section-line section-line-big mb-24"></div>
    </div>
  </div>
  <div class="d-flex gap-12 mb-10">
    <div class="section-content section-content-5 flex-grow-1">
      <div class="section-line section-line-big mb-24"></div>
      <div class="section-line section-line-big mb-24"></div>
    </div>
    <div class="section-content section-content-5 flex-grow-1">
      <div class="section-line section-line-big mb-24"></div>
      <div class="section-line section-line-big mb-24"></div>
    </div>
  </div>
</ng-template>
<neo-pagination *ngIf="paging && paging.total > defaultPageItems" (changePage)="changePage($event)"
  [defaultItemPerPage]="defaultPageItems" [paging]="paging" class="pt-24 mb-64"></neo-pagination>