@use 'colors';

.highlights-wrapper {
  width: 650px;
  height: 176px;
  border: 1px solid colors.$blue-50;
  box-sizing: border-box;
  border-radius: 2px;
}

textarea {
  &::first-letter {
    color: colors.$dark-green-hover;
  }
}
