@use 'colors';

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tile {
  width: calc(25% - 12px);
  height: 283px;
  overflow: hidden;
  position: relative;
  background: colors.$white-10;
  margin: 6px;
  border-radius: 8px;

  &.selected {
    border: 2px solid colors.$purple-300;
  }
}

.no-saved-container {
  padding: 80px;
  align-items: center;
  background-color: colors.$purple-20;
  border: 1px solid colors.$purple-160;
  border-radius: 12px;

  .no-saved-description {
    color: colors.$dark-gray-545;
    font-size: 14px;
    border-radius: 5px;
  }

  .book-icon {
    color: colors.$purple-300;
    width: 42px;
    height: 42px;
  }
}
 
