@use 'colors';
@use 'breakpoints';

:host {
  background-color: colors.$dark-gray-20;
  width: 100%;
  height: 100%;
  overflow: auto;

  @media (breakpoints.$medium) {
    overflow: unset;
  }
}

.content {
  padding: 96px 0 56px;

  margin-right: auto;
  margin-left: auto;

  @media (breakpoints.$medium) {
    width: 812px;
  }
}

/* general wizard styles*/
.title {
  font-size: 28px;
  line-height: 110%;
  color: colors.$dark-gray-900;
}

form {
  height: 100vh;
  width: 100%;
}

.control-wrapper {
  background-color: colors.$white;
  padding: 24px 32px 32px;
  border: 1px solid colors.$dark-gray-200;
  border-radius: 2px;
}

label {
  font-family: 'Arial Rounded MT Bold', serif;
  font-size: 16px;
  line-height: 130%;
  color: colors.$dark-gray-590;
}

input[type='text'] {
  width: 374px;
  height: 48px;
  padding: 15px 18px;
}

neo-wizard-nav-controls {
  margin-top: auto;
}

.btn-all {
  width: 100px;
  min-width: 100px;
  height: 32px;
  font-size: 14px;
  background: colors.$dark-gray-40;
  color: colors.$purple-200;
  border: 1px solid colors.$purple-300;
  border-radius: 6px;
  height: 50%;

  &:hover {
    border-color: colors.$purple-500;
    color: colors.$purple-500;
  }

  &.selected-all {
    color: colors.$zeigo-purple;
    background-color: colors.$violet-10;
    /* Brand/Main Purple/100% */
    border: 1px solid colors.$zeigo-purple;
    border-radius: 8px;
  }

  &.selected-all:hover {
    box-shadow: 0 2px 8px rgba(111, 110, 119, 0.5);
  }
}


:host.w-public-interest {
  .content {
    padding: 96px 0 56px;

    margin-right: auto;
    margin-left: auto;
    padding-top: 48px;
  }
}